@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9F8F6;
  --foreground: #1a1a1a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
